div{
    border: 2px solid black;
    position: relative;
}
#divParent{
    width: 700px;
    height: 462px;
    padding: 44px;
}
.divEnfant{
    width: 150px;
    height: 150px;
}
#divEnfantVerte{
    background-color: green;
    float: left;
}
#divEnfantBleue{
    background-color: rgb(91, 23, 119);
    float: left;
}
#divEnfantOrange{
    background-color: rgb(255, 145, 10);
    width: 696px;
    height: 150px;
    clear: both;
}
#divEnfantGrise{
    background-color: grey;
    float: right;
}
#divEnfantJaune{
    background-color: yellow;
    float: right;
}
