div{
    border: 2px solid black;
    padding: 40px;
}
#div1{
    background-color: rgb(168, 233, 247);
    width: 700px;
}
#div2{
    background-color: green;
    position: absolute;
    margin: 200px;
}
#div3{
    background-color: rgb(91, 23, 119);
}
#div4{
    background-color: rgb(255, 145, 10);
    position: absolute;
    left: 300px;
    top: 300px;
}
